{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
    <!-- <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the updated news website </title>
        {% endif %}         -->
        <!-- Content block -->
        {% block content %}
<div class="container">
    <div class="row">
        <!-- Business news -->
        <h3>Business news</h3>
        <ul>
            {% macro displayNewsList(business) %}
            <!-- {% for business_news in business %}
            <li>{{ business_news.title}}</li>
            {% endfor %} -->
        </ul>
    </div>    
    <div class="row">  
        <!-- Entertainment news --> 
        <h3>Entertainment news</h3>
        <ul>
            {% macro displayNewsList(entertainment) %}
            <!-- {% for entertainment_news in entertainment %}
            <li>{{ entertainment_news in entertainment}}</li>
            {% endfor %} -->
        </ul>
    </div>     
    <div class="row">   
        <!-- Health news -->
        <h3>Health news</h3>
        <ul>
            {% macro displayNewsList(health) %}
            <!-- {% for health_news in health %}
            <li>{{ health_news in health}}</li>
            {% endfor %} -->
        </ul>
    </div>
    <div class="row">    
        <!-- Science News -->
        <h3>Science news</h3>
        <ul>
            {% macro displayNewsList(science) %}
            <!-- {% for science_news in science %}
            <li>{{ science_news in science }}</li>
            {% endfor %} -->
        </ul>
    </div> 
    <div class="row">   
        <!-- Sports News -->
        <h3>Sports news</h3>
        <ul>
            <!-- {% for sports_news in sports %}
            <li>{{ sports_news in sports }}</li>
            {% endfor %} -->
        </ul> 
    </div>
    <div class="row">
        <!-- Technology News -->
        <h3>Technology news</h3>
        <ul>
            {% macro displayNewsList(technology) %}
            <!-- {% for technology_news in technology %}
            <li>{{ technology_news in technology }}</li>
            {% endfor %}  -->
        </ul> 
    </div>  
</div>        
        {% endblock%}        